body {
    font-family: monospace;
    margin: 10;
    padding: 30;
    font-size: 100%;
    color: rgb(255, 0, 0);
    background-color: #000000;

}

.site-header {
    background-color: rgba(80, 80, 80, 0.532);
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-header ul {
list-style-type: none;
padding: 0;
display: flex;
gap: 20px
}

.button-header li {
    display: inline;
}

.button-header ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.button {
    margin-left: 20px;
}

.button {
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    background-color: #ba0000;
    color: #fff;
    border-radius: 10px;
}