<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gaaimer Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="site-header">
<div class="nome">
    <h2>Gaaimer Store</h2>
</div>

<nav class="button-header">
    <ul>
        <li><a href="">Inicio</li></a>
        <li><a href="">Sobre</li></a>
        <li><a href="">PC</li></a>
        <li><a href="">Console</li></a>
    </ul>
</nav>
<div class="cta-button">
    <a href="trabalhe.html" class="button">Trabalhe Conosco</a>
</div>
    </header>
    <div class="container">
        <img src="https://cdn.awsli.com.br/684/684977/produto/290262631/poli-m424h115z2.jpg" height="400px" width="400px"><br>
        <h1>Polystation 5 Slim 1TB + 1000 Jogos</h1><br>
        <a href="{{url_for('console')}}"><button>Comprar</button></a><br>
        
        <img src="/static/img/43afa3ab9f7d0573794a5d3b23a8ab07.jpg" height="400px" width="400px"><br>
        <h1>PC Gamer Positvo GT 710 I5 8GB Ram</h1><br>
        <a href="{{url_for('pc')}}"><button>Comprar</button></a><br>

        <img src="/static/img/Positivo.jpg" height="400px" width="400px"><br>
        <h1>Notebook Positivo Celeron</h1><br>
        <a href="{{url_for('pc')}}"><button>Comprar</button></a><br>
    </div>
</body>
</html>